<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title></title>
    {% endblock %}
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'bigbrother_sniper/css/style.css' %}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'codebase/dhtmlxdataview.css' %}"/>

    <script src="{% static 'codebase/dhtmlxdataview.js' %}"></script>
    <script src="{% static 'bigbrother_sniper/js/anime_script.js' %}"></script>
</head>
    <body bgcolor="gray">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script>
    window.FileAPI = {
        jsUrl: 'https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/FileAPI.min.js',
        flashUrl: 'https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/FileAPI.flash.swf',
    };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script> <!-- html5을 지원하지 못하는 브라우저를 위해서 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
            {% block body %}
            {% endblock %}
    <!--<script src="{% static 'bigbrother_sniper/js/particle_setting_script.js' %}"></script>별-->
    <script src="{% static 'bigbrother_sniper/js/angular_script.js' %}"></script>
    </body>
</html>